*.o
*.a
*.pb.*
*_dispatcher.*
*_stub.*
*_service.*
*_tool.*
*_main
third_party/*
sbin/*
sample/*
codegen/phxrpc_pb2client
codegen/phxrpc_pb2server
codegen/phxrpc_pb2service
codegen/phxrpc_pb2tool
codegen/test*
.vscode/*
build/*